@model Contact
@{ ViewData["Title"] = "Contact form"; }
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#add-contact" data-url="@Url.Action("Contact")">
    Add contact
</button>

<!--https://softdevpractice.com/blog/asp-net-core-mvc-ajax-modals/-->
<!--https://github.com/zbma/asp.net-core-bootstrap-ajax-modals/blob/master/AjaxModals/wwwroot/js/site.js-->
